body{
    padding: 0.1%;
}
.contain{
    border: 1px solid green;
    background-color: #bbc5bb;
}
.header{
    /* border: 1px solid rgb(26, 28, 26); */
    background-color: #265557;
    color: #ffffff;
    width: 100%;
    height: 5em;
    display: flex;
    border-radius: 10px;
}
.uno{
    border: 1px solid rgb(54, 219, 54);
    width: 33%;
    height: 100%;
    margin-left: 0.5%;
    display: flex;
    padding: 1%;
}
.uno p{
    padding: 1%;
    font-size: medium;
    margin-left: 10%;
}
.logo{
    border: 1px solid rgb(29, 29, 208);
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    max-width: 40%;
    background-color: #ffffff;
}
.dos{
    border: 1px solid rgb(214, 71, 24);
    width: 33%;
    height: 100%;
    margin-right: 0.5%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}
.dos p{
    padding: 1%;
    font-size: medium;
    margin-right: 10%;
}
.bodys{
    margin-top: 1.5%;
    border: 1px solid rgb(137, 197, 10);
    width: 100%;
    height: 30em;
    display: flex;
}
.parr{
    border: 1px solid rgb(20, 97, 221);
    width: 50%;
    padding: 1%;
}
.imgs{
    border: 1px solid rgb(227, 17, 202);
    width: 50%;
}
.servicios{
    margin-top: 1.5%;
    border: 1px solid rgb(65, 73, 47);
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
}
.servi{
    width: 50%;
    height: auto;
    border: 1px solid rgb(14, 149, 228);
    padding: 2%;
}
.especialidades{
    margin-top: 1.5%;
    border: 1px solid rgb(67, 82, 36);
    width: 100%;
    height: 30em;
    display: flex; 
}
.espeuno{
    border: 1px solid rgb(137, 197, 10);
    width: 25%;
    height: 100%;
    padding: 1%;
}
.espedos{
    border: 1px solid rgb(126, 164, 44);
    width: 25%;
    height: 100%;
    padding: 1%;
}
.espetres{
    border: 1px solid rgb(43, 27, 218);
    width: 25%;
    height: 100%;
    padding: 1%;
}
.especuatro{
    border: 1px solid rgb(209, 164, 28);
    width: 25%;
    height: 100%;
    padding: 1%;
}
.sede{
    margin-top: 1.5%;
    border: 1px solid rgb(67, 82, 36);
    width: 100%;
    height: 30em;
    display: flex; 
}
.sedeimg{
    border: 1px solid rgb(226, 42, 110);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
}
.sedeimg img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70%;
    border-radius: 10px;
}
img.cover{
    object-fit: cover;
}
.sedeinfo{
    border: 1px solid rgb(143, 31, 208);
    width: 50%;
    height: 100%;
    padding: 2%;
}
.foother{
    margin-top: 1.5%;
    border: 1px solid rgb(224, 79, 21);
    width: 100%;
    height: 18em;
    display: flex;
}
.geo{
    border: 1px solid rgb(84, 67, 16);
    width: 33%;
    height: 100%;
    padding: 1%;
}
.informacion{
    border: 1px solid rgb(84, 67, 16);
    width: 33%;
    height: 100%;
    padding: 1%;
}
.informacion p{
    margin-top: 5%;
}
.msm{
    border: 1px solid rgb(84, 67, 16);
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.msm input{
    margin-top: 3%;
    width: 80%;
}
.msm textarea{
    margin-top: 3%;
    width: 80%;
}
.msm button{
    margin-top: 3%;
    width: 80%;
}