body{
    padding: 0.1%;
}
.contain{
    background-color: #ffffff;
}

.header{
    background-color: #265557;
    color: #ffffff;
    width: 100%;
    height: 5em;
    display: flex;
    border-radius: 10px;
}
.uno{
    width: 33%;
    height: 100%;
    margin-left: 0.5%;
    display: flex;
}
    .uno div{
        width: 33%;
        height: 4.8em;
        margin-left: 3%;
        text-align: center;
        display: flex;
    }

    .uno a{
        color: #ffffff;
        width: 100%;
        margin: auto;
    }
    .uno a:hover{
        color: #ffffff;
    }
    .uno div:hover{
        background-color: #41696b;
    }

.logo{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
}
    .logo img{
        max-width: 40%;
        background-color: #ffffff;
    }

.dos{   
    width: 33%;
    height: 100%;
    margin-right: 0.5%;
    display: flex;
}
    .dos div{
        width: 33%;
        height: 4.8em;
        margin-right: 3%;
        text-align: center;
        display: flex;
    }
    .dos a{
        color: #ffffff;
        width: 100%;
        margin: auto;
        text-decoration: none;
    }
    .dos a:hover{
        color: #ffffff;
    }
    .dos div:hover{
        background-color: #41696b;
    }





.bodys{
    margin-top: 0.5%;
    width: 100%;
    height: 40em;
}
    .imgs{
        width: 100%;
        height: auto;
    }

    .imgs img{
        width: 100%;
        height: 40em;
        object-fit: cover;
    }

.especialidades{
    margin-top: 0.5%;
    width: 100%;
    height: 30em;
    display: flex; 
    justify-content: center;
}

    .espeuno{
        background-color: #265557;
        width: 24%;
        height: 100%;
        padding: 1%;
        margin: 0.3%;
        border-radius: 10px;
        color: #ffffff;
    }
    .espeuno:hover{
        background-color: #41696b;
    }
    .espeuno .card{
        background-color: #265557;
    }
    .espedos{
        background-color: #265557;
        width: 24%;
        height: 100%;
        padding: 1%;
        margin: 0.3%;
        border-radius: 10px;
        color: #ffffff;
    }
    .espedos:hover{
        background-color: #41696b;
    }
    .espedos .card{
        background-color: #265557;
    }
    .espetres{
        background-color: #265557;
        width: 24%;
        height: 100%;
        padding: 1%;
        margin: 0.3%;
        border-radius: 10px;
        color: #ffffff;
    }
    .espetres:hover{
        background-color: #41696b;
    }
    .espetres .card{
        background-color: #265557;
    }
    .especuatro{
        background-color: #265557;
        width: 24%;
        height: 100%;
        padding: 1%;
        margin: 0.3%;
        border-radius: 10px;
        color: #ffffff;
    }
    .especuatro:hover{
        background-color: #41696b;
    }
    .especuatro .card{
        background-color: #265557;
    }


    
.sede{
    margin-top: 1%;
    width: 100%;
    height: 45em;
    display: flex; 
    justify-content: center;
}
    .imgsede{
        width: 98%;
        height: auto;
    }
    .imgsede img{
        width: 98%;
        height: 45em;
        border-radius: 10px;
    }



.foother{
    margin-top: 1%;
    width: 100%;
    height: 18em;
    display: flex;
    color: #ffffff;
    background: #265557;
}
    .geo{
        width: 33%;
        height: 100%;
        padding: 1%;
    }
    .informacion{
        width: 33%;
        height: 100%;
        padding: 1%;
    }
    .informacion p{
        margin-top: 5%;
    }
    .msm{
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .msm input{
        margin-top: 3%;
        width: 80%;
    }
    .msm textarea{
        margin-top: 3%;
        width: 80%;
    }
    .msm button{
        margin-top: 3%;
        width: 80%;
    }