body{
    background-image: radial-gradient(at 20px 20px,#0b4a6b, #011620);
}
.contain{
    height: auto;
    width: 100%;
    padding: 1%;
}
.banner{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(to right,#ffffff , #407a99,#063852, #011a27);
    border: 1px solid #407a99;
}
.logo img{
    max-width: 40%;
}
.menu{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.menu .text{
    margin-top: 1%;
    padding: 1%;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.advertising{
    height: 30em;
    width: 100%;
    margin-top: 1%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #407a99;
    background-image: linear-gradient(to right, #407a99,#063852, #011a27);
}
.comer{
    width: 40%;
    color: #ffffff;
}
.comer h3{
    margin-top: 5%;
    padding: 5%;
}
.comer p{
    margin-top: 1%;
    padding: 4%;
}
.advertisingdatos{
    height: 18em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(to right, #407a99,#063852, #011a27);
}
.comerdatos{
    height: 80%;
    width: 100%;
    color: #ffffff;
    margin-top: 0.5%;
    text-align: left;
}
.comerdatos h3{
    margin-top: 0.5%;
    padding: 1%;
}
.comerdatos p{
    margin-top: 1%;
    padding: 2%;
}
.advertisingotro{
    height: 30em;
    width: 100%;
    margin-top: 1%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #44eb23;
    background-image: linear-gradient(to right, #407a99,#063852, #011a27);
}
.comerotro{
    width: 40%;
    color: #ffffff;
}
.comerotro h3{
    margin-top: 5%;
    padding: 5%;
}
.comerotro p{
    margin-top: 1%;
    padding: 4%;
}
.imgs{
    width: 60%;
}
.imgs img{
    margin-left: 20%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.contact{
    height: 20em;
    width: 100%;
    margin-top: 1%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #407a99;
    background-image: linear-gradient(to right,#011a27 , #407a99, #407a99, #011a27);
}
.geolocal{
    width: 40%;
    height: 100%;
    color: #ffffff;
}
.datos{
    width: 60%;
    height: 100%;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
    display: flex;
    flex-direction: row;
    
}
.datos div{
    margin-top: 1%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #271201;
    padding: 1%;
}
.datos p{
    margin-right: 10%;
}
.datos div input{
    margin-top: 5%;
    height: 10%;
    width: 80%;
    border-radius: 10px 10px 10px 10px; 
}
.datos div textarea{
    height: 30%;
    margin-top: 5%;
    width: 80%;
    border-radius: 10px 10px 10px 10px; 
}
.datos div button{
    margin-top: 3%;
    height: 15%;
    width: 80%;
    border-radius: 10px 10px 10px 10px; 
}
